<!-- Футер -->
<footer>
    <p>&copy; Все права защищены. <a href="https://www.stolplit.ru/upload/medialibrary/f8e/t9alygngpdj4633lzr51mj7o65l9dydd/privacy_policy_stolplit.pdf" target="_blank">Политика конфиденциальности</a></p>
</footer>
