<!-- Навигация -->
<nav>
    <a href="~/Views/Product/kitchen.cshtml">Кухни</a>
    <a href="~/Views/Product/closet.cshtml">Шкафы</a>
    <a href="#">Диваны</a>
    <a href="#">Кровати</a>
    <span class="search-bar">
        <input type="text" id="search-input" placeholder="Поиск...">
        <input type="button" value="Поиск" onclick="searchFunction()">
    </span>
</nav>