@using OnlineStrore.Dto
<!-- Модальное окно регистрации -->
@model CreateFeedbackDto
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Оставить отзыв</title>
    <!-- Подключаем стили -->
    <link href="@Url.Content("~/css/styles.css")" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="feedbackModal" class="modal">
        <div class="modal-content">
            <h2>Оставить отзыв</h2>
            @Html.ValidationSummary(true)
            <form asp-action="ClientFeedback" asp-controller="Client" method="post">

                <label>Ваш отзыв:</label><br>
                <textarea asp-for="Description" rows="6" style="width:100%" required></textarea>
                @* <input type="text" asp-for="Description"><br><br> *@
                @Html.ValidationMessageFor(x => x.Description)

                <button type="submit">Оставить отзыв</button>
            </form>
        </div>
    </div>
</body>
</html>