
@{
    Layout = "~/Views/Layout.cshtml";
}
<!-- Контент -->
<div class="content">
    <h1 align="center">О компании</h1>
    <p>
        <b>Компания СТОЛПЛИТ</b> — ваш надежный партнер в мире мебели, объединяющий стиль, комфорт и доступность. Более 20 лет мы создаем качественную мебель, которая делает дома и офисы наших клиентов уютными, функциональными и современными.
    </p>
    <p>
        Мы предлагаем <b>широкий ассортимент продукции:</b> от стильных кухонь и просторных шкафов до удобных спален и уникальных гостиных. Вся наша мебель изготавливается из <i>высококачественных материалов и по современным технологиям</i>, что гарантирует долгий срок службы и непревзойденное удобство.
    </p>

    <h2>Примеры нашей работы:</h2>
@*     <div class="card">
        <img src="~/images/мебель.jpg" alt="Пример мебели">
    </div>
    <div class="card">
        <img src="~/images/мебель2.jpg" alt="Пример мебели 2">
    </div>
 *@
    <div class="slider-container">
        <div class="slider">
            <div class="slides">
                <div class="slide">
                    <img src="~/images/мебель.jpg" alt="Пример мебели">
                </div>
                <div class="slide">
                    <img src="~/images/мебель2.jpg" alt="Пример мебели 2">
                </div>
                <div class="slide">
                <img src="~/images/new_bed_2.jpg" alt="Новая кровать 2">
                </div>
            </div>
            <div class="controls">
                <button onclick="prevSlide()">&#10094;</button>
                <button onclick="nextSlide()">&#10095;</button>
            </div>
            @* <div class="indicators">
                @for (int i = 0; i <2; i++)
                {
                    <button onclick="showSlide(@i)"></button>
                }
            </div> *@
        </div>
    </div>
    <h2>Наши самые популярные категории</h2>
    <table border="1" cellpadding="10" cellspacing="5">
        <tr>
            <td rowspan="3"><h3>Наши самые популярные категории</h3></td>
            <td colspan="2" align="center"><h3>Мебель для дома</h3></td>
        </tr>
        <tr>
            <td>Кухонные гарнитуры</td>
            <td>Гостиные</td>
        </tr>
        <tr>
            <td>Спальные гарнитуры</td>
            <td>Прихожие</td>
        </tr>
    </table>

    <h2>Факты о нас:</h2>
    <ul>
        <li>Широкий ассортимент мебели</li>
        <li>Быстрая доставка по всей стране</li>
        <li>Гарантия качества на всю продукцию</li>
    </ul>
</div>