@{
    Layout = "~/Views/Layout.cshtml";
}
<div class="content">
    <h1 align="center">Новинки в нашем ассортименте!</h1>
    <p>
        Мы рады представить вам новейшие модели мебели от компании <b>СТОЛПЛИТ</b>. Эти уникальные дизайнерские решения сочетают в себе стиль, комфорт и функциональность,
        чтобы сделать ваш дом еще уютнее. Оцените наши новые коллекции кроватей и шкафов, выполненные в актуальных трендах современного интерьера.
    </p>
    <p>
        Все новинки созданы с применением самых передовых технологий и высококачественных материалов, чтобы обеспечить вам максимальный комфорт и долговечность.
        Встречайте мебель будущего уже сегодня!
    </p>

    <!-- Вставка изображений новинок -->
    <table align="center" cellpadding="10">
        <tr>
            <td align="center">
                <img src="~/images/new_bed_1.jpg" alt="Новая кровать 1" width="400" height="300">
                <p><b>Кровать «Люкс 2024»</b><br><i>Современный стиль и комфорт</i></p>
            </td>
            <td align="center">
                <img src="~/images/new_bed_2.jpg" alt="Новая кровать 2" width="400" height="300">
                <p><b>Кровать «Орион»</b><br><i>Идеальное решение для вашего интерьера</i></p>
            </td>
        </tr>
        <tr>
            <td align="center">
                <img src="~/images/шкаф1.jpg" alt="Новый шкаф 1" width="400" height="300">
                <p><b>Шкаф «Гармония»</b><br><i>Модный и удобный выбор</i></p>
            </td>
            <td align="center">
                <img src="~/images/шкаф2.jpg" alt="Новый шкаф 2" width="400" height="300">
                <p><b>Шкаф «Авангард»</b><br><i>Элегантность и практичность в одном</i></p>
            </td>
        </tr>
    </table>
</div>